<div class="container">
  <div class="card">
    <div class="card-body">
      <form id="login-form" (ngSubmit)="login()" [formGroup]="authForm">
        <h1>{{title}}</h1>
        <p>Veuiller remplir le formulaire.</p>
        <div *ngIf="errorMessage" class="error-message">
          <strong>Warning!</strong> {{errorMessage}}
        </div>
        <div class="form-group">
          <label for="username" [class.ng-invalid]="authForm.dirty && usernameController?.invalid">Pseudo</label>
          <input type="text" placeholder="Entrer votre nom d'utilisateur" id="username" formControlName="username" required />
          <small *ngIf="authForm.dirty && usernameController?.hasError('required')" class="error-message">
            Ce champ est requis
          </small>
        </div>
        <div class="form-group">
          <label for="password" [class.ng-invalid]="authForm.dirty && passwordController?.invalid">Mot de passe</label>
          <input type="password" placeholder="Enter your password" id="password" formControlName="password" required />
          <small *ngIf="authForm.dirty && passwordController?.hasError('required')" class="error-message">
            Ce champ est requis
          </small>
          <small *ngIf="passwordController?.hasError('password.pattern')" class="error-message">
            {{passwordController?.getError('password.pattern')}}
          </small>
        </div>
        <div class="button-container">
          <button type="submit" [disabled]="authForm.invalid">Connexion</button>
        </div>
      </form>
    </div>
  </div>
</div>
