<div class="cards__item">
  <div class="card">
    <div class="card__image" style="background-image: url({{alcool.strDrinkThumb}})"></div>
    <div class="card__content">
      <div class="card__title">{{alcool.strDrink}}</div>
      <p class="card__text">This defines the default size of an element before the remaining space is distributed. It can be a length (e.g. 20%, 5rem, etc.) or a keyword. The auto keyword means "look at my width or height property."</p>
      <button class="btn btn--block card__btn" (click)="details(alcool.idDrink)">Plus de details</button>
    </div>
  </div>
</div>
