<ng-container *ngIf="errorMessage !== '' else elseError">
  <div class="error">{{errorMessage}}</div>
</ng-container>
<ng-template #elseError>
  <div class="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let alcohol of randomList; let i = index" [ngClass]="{'active': i === activeSlideIndex}">
          <ng-container *ngIf="!loading else elseBlockCarousel">
            <img class="d-block w-100 carousel-image" src="{{ alcohol.strDrinkThumb }}" alt="{{ alcohol.strDrink }}">
            <div class="carousel-caption">
              <h3 class="blinking-title" [style.color]="randomColor">{{ alcohol.strDrink }}</h3>
              <p class="blinking-title" [style.color]="randomColor">{{ alcohol.strAlcoholic }}</p>
            </div>
          </ng-container>
          <ng-template #elseBlockCarousel>
            <span class="loader"></span>
          </ng-template>
        </div>
      </div>
      <a class="carousel-control-prev " [style.color]="randomColor" (click)="navigateCarousel(-1)">
        Retour
      </a>
      <a class="carousel-control-next blinking-title" [style.color]="randomColor" (click)="navigateCarousel(1)">
        Suivant
      </a>
    </div>
   <ng-container *ngIf="!loading else elseBlock">
     <div class="back">
       <div class="main">
         <h1 class="blinking-title" [style.color]="randomColor">Cocktails avec alcooooool</h1>
         <ul class="cards" >
           <li class="cards_item" *ngFor="let alcool of alcoolicList">
             <div class="card">
               <div class="card_image"><img src="{{alcool.strDrinkThumb}}"></div>
               <div class="card_content">
                 <h2 class="card_title">{{alcool.strDrink}}</h2>
                 <button class="btn card_btn">Voir les details</button>
               </div>
             </div>
           </li>
         </ul>
       </div>
     </div>
   </ng-container>
  <ng-template #elseBlock>
    <span class="loader"></span>
  </ng-template>
</ng-template>
