<ng-container *ngIf="errorMessage !== '' else elseError">
  <div class="error">{{errorMessage}}</div>
</ng-container>
<ng-template #elseError>
  <div>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" *ngIf="!loading else elseBlockCarousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let alcohol of randomList; let i = index" [ngClass]="{'active': i === activeSlideIndex}" (click)=goToDetail(alcohol.idDrink)>
          <img [src]="alcohol.strDrinkThumb" [alt]="alcohol.strDrink" [class.d-block]="i === activeSlideIndex" class="w-100 mx-auto">
          <div class="carousel-caption d-block">
            <h5 class="text-sm">{{ alcohol.strDrink }}</h5>
            <p class="text-sm">{{ alcohol.strAlcoholic }}</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <ng-template #elseBlockCarousel>
      <div class="loader-container">
        <div class="loader"></div>
      </div>
    </ng-template>
  </div>
  <div class="list-container">
    <app-list-alcool *ngIf="!loading else elseBlock" [alcoolList]="alcoolicList" [title]="'Recettes avec Alcool'" (getDetails)="goToDetail($event)"></app-list-alcool>
  </div>

  <ng-template #elseBlock>
    <div class="loader-container">
      <div class="loader"></div>
    </div>

  </ng-template>
</ng-template>
