<div class="loader-container" *ngIf="loading else elseBlock">
  <div class="loader"></div>
</div>

<div *ngIf="errorMessage">
  <strong>Erreur!</strong> {{errorMessage}}
</div >
<ng-template #elseBlock>
  <ng-container *ngIf="(asyncAlcools | async) as Drinks">
    <ng-container *ngIf="Drinks.drinks !== null; else noAlcool">
      <app-list-alcool [alcoolList]="Drinks.drinks" [title]="'Résultats'" (getDetails)="goToDetail($event)"></app-list-alcool>
    </ng-container>
    <ng-template #noAlcool>
      <p>No result</p>
    </ng-template>
  </ng-container>
</ng-template>

