<div class="container" *ngIf="!loading else noAlcool">
  <div class="recipe-container">
    <div class="image" [style.background-image]="'url(' + alcool?.strDrinkThumb + ')'"></div>
    <div class="details">
      <h1>{{ alcool?.strDrink }}</h1>
      <p><strong>Catégorie :</strong> {{ alcool?.strCategory }}</p>
      <p><strong>Verre :</strong> {{ alcool?.strGlass }}</p>
      <p><strong>Ingrédients :</strong></p>
      <ul>
        <li *ngFor="let ingredient of getIngredients()">{{ ingredient }}</li>
      </ul>
      <p><strong>Instructions :</strong></p>
      <p>{{ alcool?.strInstructions }}</p>
    </div>
  </div>
</div>
<ng-template #noAlcool>
  <div class="loader-container">
    <div class="loader"></div>
  </div>
</ng-template>
