<ng-container *ngIf="(asyncAlcools | async) as Drinks">
  <ng-container *ngIf="Drinks.drinks !== null; else noAlcool">
    <div *ngIf="asyncAlcools | async as alcool" class="container">
    <div class="recipe-details">
      <h2 class="recipe-title">{{ Drinks.drinks[0].strDrink }}</h2>
      <img class="recipe-image" src="{{ Drinks.drinks[0].strDrinkThumb }}" alt="{{ Drinks.drinks[0].strDrink }}">
      <p class="recipe-category">Category: {{ Drinks.drinks[0].strCategory }}</p>
      <p class="recipe-glass">Glass: {{ Drinks.drinks[0].strGlass }}</p>
      <h3 class="ingredients-title">Ingredients</h3>
      <ul class="ingredient-list">
        <li>
          <img class="ingredient-image" src="https://www.thecocktaildb.com/images/ingredients/{{ Drinks.drinks[0].strIngredient1 }}-Medium.png" alt="{{ Drinks.drinks[0].strIngredient1 }}">
          {{ Drinks.drinks[0].strIngredient1 }} - {{ Drinks.drinks[0].strMeasure1 }}
        </li>
        <li>
          <img class="ingredient-image" src="https://www.thecocktaildb.com/images/ingredients/{{ Drinks.drinks[0].strIngredient2 }}-Medium.png" alt="{{ Drinks.drinks[0].strIngredient2 }}">
          {{ Drinks.drinks[0].strIngredient2 }} - {{ Drinks.drinks[0].strMeasure2 }}
        </li>
      </ul>
      <h3 class="instructions-title">Instructions</h3>
      <p class="recipe-instructions">{{ Drinks.drinks[0].strInstructions }}</p>
    </div>
  </div>

  </ng-container>
  <ng-template #noAlcool>
    <p>Aucun résultat avec cet ID</p>
  </ng-template>
</ng-container>

