<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand"  routerLink="/"> <img src="assets/logo.png" alt="Logo" height="36"></a>
    <a class="navbar-brand"  routerLink="/">Remix Ton Bar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" *ngIf="loggedIn">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="loggedIn">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/avec-alcool">Recettes avec alcoooool</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/sans-alcool">Recettes de merd.. sans alcool</a>
        </li>
      </ul>
      <form class="d-flex me-2 mb-2 mb-lg-0">
        <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search" [(ngModel)]="alcoolTitle" id="search" type="text" name="title" >
        <button class="btn btn-outline-success" type="submit" (click)="searchAlcools()">Go</button>
      </form>
      <button class="btn btn-outline-secondary" (click)="logout()" >Déconnexion</button>
    </div>
  </div>
</nav>
<ng-container *ngIf="currentUrl.includes('/recherche?query=')">
  <div class="filters-container bg-light py-3">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-md-4">
          <div class="container">
            <div class="select-btn" (click)="selectBtn('cat')" [class.open]="toogleCat">
              <span class="btn-text">Catégories</span>
              <span class="arrow-dwn">
                    <i class="fa-solid fa-chevron-down"></i>
                </span>
            </div>
            <ul class="list-items">
              <li class="item" *ngFor="let category of category" (click)="addFilter('c', category.strCategory)" [class.checked]="isFilterSelected('c', category.strCategory)">
                    <span class="checkbox">
                        <i class="fa-solid fa-check check-icon"></i>
                    </span>
                <span class="item-text">{{ category.strCategory }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <div class="select-btn" (click)="selectBtn('ing')" [class.open]="toogleIng">
              <span class="btn-text">Ingrédients</span>
              <span class="arrow-dwn">
                    <i class="fa-solid fa-chevron-down"></i>
                </span>
            </div>
            <ul class="list-items">
              <li class="item" *ngFor="let ingredient of ingredients" (click)="addFilter('i',ingredient.strIngredient1)" [class.checked]="isFilterSelected('i', ingredient.strIngredient1)">
                    <span class="checkbox">
                        <i class="fa-solid fa-check check-icon"></i>
                    </span>
                <span class="item-text">{{ ingredient.strIngredient1 }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <div class="select-btn" (click)="selectBtn('glass')" [class.open]="toogleGlass">
              <span class="btn-text">Types de verres</span>
              <span class="arrow-dwn">
                    <i class="fa-solid fa-chevron-down"></i>
                </span>
            </div>
            <ul class="list-items">
              <li class="item" *ngFor="let glass of glasses" (click)="addFilter('g', glass.strGlass )" [class.checked]="isFilterSelected('g', glass.strGlass)">
                    <span class="checkbox">
                        <i class="fa-solid fa-check check-icon"></i>
                    </span>
                <span class="item-text">{{ glass.strGlass }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>


