<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"  routerLink="/"> <img src="assets/logo.png" alt="Logo" height="36"></a>
    <a class="navbar-brand"  routerLink="/">Remix Ton Bar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="avec-alcool">Recettes avec alcoooool</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="sans-alcool">Recettes de merd.. sans alcool</a>
        </li>
      </ul>
      <form class="d-flex me-2 mb-2 mb-lg-0">
        <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search" [(ngModel)]="alcoolTitle" id="search" type="text" name="title" >
        <button class="btn btn-outline-success" type="submit" (click)="searchAlcools()">Go</button>
      </form>
      <button class="btn btn-outline-secondary" (click)="logout()" *ngIf="loggedIn">Déconnexion</button>
    </div>
  </div>
</nav>
<ng-container *ngIf="currentUrl.includes('/search?query=')">
  <div class="filters-container bg-light py-3">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-md-4">
          <div class="form-group">
            <label for="categoryFilter">Catégorie :</label>
            <select class="form-select" id="categoryFilter" [(ngModel)]="selectedCategory">
              <option value="">Toutes</option>
              <option *ngFor="let category of categories" [value]="category.strCategory">{{ category.strCategory }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="ingredientFilter">Ingrédient :</label>
            <select class="form-select" id="ingredientFilter" [(ngModel)]="selectedIngredient">
              <option value="">Tous</option>
              <option *ngFor="let ingredient of ingredients" [value]="ingredient">{{ ingredient }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="glassFilter">Type de verre :</label>
            <select class="form-select" id="glassFilter" [(ngModel)]="selectedGlass">
              <option value="">Tous</option>
              <option *ngFor="let glass of glasses" [value]="glass">{{ glass }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
